  <div class="container">
  <div class="row">
  <div class="col-md-3">
  <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ_x4-61b1TFOi8Bh6irnlp0OzhOelyxmHvhDavQd9tKUtxCLZbGA" alt""></img>
  </div>
    <div class="col-md-6">
  <div class="page-header">
  <h1>Barack Obama <small>Current President of United States</small></h1>
</div>
  </div>
  </div>

  <p class="text">
    Barack Obama was born on August 4, 1961, in Honolulu, Hawaii. He is the 44th and current president of the United States. <br>He was a civil-rights lawyer and teacher before changeing to a political career. He was elected to the<br> Illinois State Senate in 1996, serving <br>from 1997 to 2004. He was elected to the U.S. presidency in 2008, and won re-election in 2012 against<br> Republican challenger Mitt Romney. President Obama continues to enact policy changes in response to the issues<br> of health care and economic crisis.
  </p>
  <h3>Location:</h3> 
  <div class="box">
    <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 89%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
</div>

