<h1> Make Your Profile! </h1>

<form action="/create_user">
  <input type="text" name="name" placeholder="Enter Name">
  <input type="text" name="title" placeholder="Enter Subname">
  <input type="url" name="picture" placeholder="Enter Picutre URL">
  <input type="text" name="text" placeholder="Enter Text">
  <input type="text" name="location" placeholder="Enter Location">
  <input type="submit">
</form>