<div class="media">
  <a class="pull-left" href="#">
    <div class="thumbnail">
    <img class="media-object" src="http://david.heinemeierhansson.com/images/me.jpg" alt="">
    </div>
  </a>
  <div class="media-body">  
  <div class="page-header">
  <h1 class="pear">David Heinemeier Hansson <small>Ruby on Rails Creator</small></h1>
</div>
  </div>
    <p class="apple">David Heinemeier Hansson was born in 1979 in Copenhagen, Denmark. After graduation from<br> Copenhagen Business School in 2005, he moved to Chicago, Illinois, USA.<br> 
      Hansson is a partner in 37signals, the company behind Basecamp, Highrise, Backpack,<br> Writeboard, and Ta-da List. 37signals runs a popular weblog at Signal vs Noise. In 2005, Hansson<br> was recognized by Google and O'Reilly with the Hacker of the Year award for his creation and<br> development of Ruby on Rails.</p>
   <h3>Location: Chicago</h3> 
  
    <div class="box">
    <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 89%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
</div>
</div><div class="media">
  <a class="pull-left" href="#">
    <div class="thumbnail">
    <img class="media-object" src="http://david.heinemeierhansson.com/images/me.jpg" alt="">
    </div>
  </a>
  <div class="media-body">  
  <div class="page-header">
  <h1 class="pear">David Heinemeier Hansson <small>Ruby on Rails Creator</small></h1>
</div>
  </div>
    <p class="apple">David Heinemeier Hansson was born in 1979 in Copenhagen, Denmark. After graduation from<br> Copenhagen Business School in 2005, he moved to Chicago, Illinois, USA.<br> 
      Hansson is a partner in 37signals, the company behind Basecamp, Highrise, Backpack,<br> Writeboard, and Ta-da List. 37signals runs a popular weblog at Signal vs Noise. In 2005, Hansson<br> was recognized by Google and O'Reilly with the Hacker of the Year award for his creation and<br> development of Ruby on Rails.</p>
   <h3>Location: Chicago</h3> 
  
    <div class="box">
    <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 89%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
</div>
</div>